/*
 @media screen {
 @font-face {
 font-family: 'Lato';
 font-style: normal;
 font-weight: normal;
 src: url('../font/Lato-Reg-webfont.eot');
 src: url('../font/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Lato-Reg-webfont.woff') format('woff'), url('../font/Lato-Reg-webfont.ttf') format('truetype'), url('../font/Lato-Reg-webfont.svg#cherokee') format('svg');
 }

 @font-face {
 font-family: 'Lato';
 font-style: normal;
 font-weight: bold;
 src: url('../font/Lato-Bol-webfont.eot');
 src: url('../font/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Lato-Bol-webfont.woff') format('woff'), url('../font/Lato-Bol-webfont.ttf') format('truetype'), url('../font/Lato-Bol-webfont.svg#cherokee') format('svg');
 }
 }
 */

body {
    color: #4C4C4C;
    font: 14px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
a, a:visited, a:active {
    color: #229A55;
    text-decoration: none;
}
.row {
    clear: both;
    /*  display: table-row;*/
    position: relative;
    margin-top: 8px;
}
.clear {
    clear: both;
    display: block;
}
strong {
    font-weight: bold;
}
input, textarea, select {
    border: 1px solid #ccc;
}
button {
    background: none repeat scroll 0 0 #E8E8E8;
    border: 0 none;
    /* font-size: 12px;*/
    font-weight: bold;
    /* letter-spacing: 0.8px;*/
    padding: 7px 11px;
    cursor: pointer;
}
button:hover {
    background: #f2f2f2;
}
/*
 .span6{
 width:50%;
 }*/

.txt-right {
    text-align: right;
}
.com-container {
    clear: both;
    display: flex;
    margin: 15px 16px;
    width: 98%;
}

.com-add {
    padding-bottom: 10px;
    width: 40%;
    clear: both;
    margin-top: 2%;
    height: 100%;
}

.com-left {
    display: table-cell;
    vertical-align: top;
    width: 60px;
}

.com-right {
    /*display: table-cell;*/
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

#com-body {
    font-size: 14px;
    min-height: 80px;
    width: 100%;
}
.com-body-wrapper {
    padding-right: 7px;
}
.com-rating-user {
    float: left;
    width: 300px;
    margin-top: 6px;
}

.com-thumbs {
    float: right;
    width: 100%;
}
.com-post-as {
    float: right;
}
.com-thumbs ul li {
    display: inline-block;
    margin-right: 8px;
}
.com-thumbs ul li a, .com-thumbs ul li a:focus {
    outline: none;
}
.com-thumbs ul li a {
    color: #333;
    text-decoration: none;
    /* opacity: 0.6;*/
    transition: opacity .4s;
    border: 1px solid rgba(0, 0, 0, 0);
    /*padding: 6px 4px 0 3px;*/
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 1px 5px;
}
.com-thumbs ul li a .icon {
    vertical-align: middle;
}
.com-thumbs ul li a:hover {
    border: 1px solid #CCCCCC;
}
.com-thumbs ul li a:hover .icon-thumbs-up {
    background-position: -48px 0;
}
.com-thumbs ul li a:hover .icon-thumbs-down {
    background-position: -48px -26px;
}
.com-thumbs ul li a span {
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;
}

.com-review {
    border: 1px solid #EEEEEE;
    margin-bottom: 13px;
    overflow: hidden;
    padding: 5px 0;
}
.com-review:hover .com-thumbs-flag {
    opacity: 1;
}

.com-rating {
    background: url("../img/store-stars.png") no-repeat scroll left top transparent;
    display: inline-block;
    height: 14px;
    width: 70px;
    margin-left: 9px;
    margin-top: -2px;
    overflow: hidden;
}
.com-rating > div {
    background: url('../img/store-stars.png') no-repeat bottom left;
    height: inherit;
}

.com-rating-0star {
    width: 0;
    display: block;
}
.com-rating-1star {
    width: 14px;
    display: block;
}
.com-rating-2star {
    width: 28px;
    display: block;
}
.com-rating-3star {
    width: 42px;
    display: block;
}
.com-rating-4star {
    width: 56px;
    display: block;
}
.com-rating-5star {
    width: 70px;
    display: block;
}

.com-sort {
    margin-bottom: 20px;
    margin-top: 17px;
}
.com-sort ul li {
    display: inline;
    margin-right: 7px;
}
.com-sort ul li a {
    color: #919191;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-decoration: none;
    text-transform: uppercase;
}
.com-sort ul li a.selected {
    background: #ccc;
    color: #fff;
    padding: 3px;
}

.com-author {
    display: inline-block;
    margin-bottom: 4px;
    vertical-align: top;
}
.icon {
    background: url('../img/sprite.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-thumbs-up.selected {
    background-position: -16px 0;
}
.icon-thumbs-down.selected {
    background-position: -16px -26px;
}
.icon-thumbs-up {
    background-position: -32px 0px;
}
.icon-thumbs-down {
    background-position: -32px -26px;
}
.icon-flag {
    background-position: 0px -52px;
}

.img-avatar {
    width: 32px;
}
.com-add .com-left {
    float: left;
    width: 44px;
}
.com-body-cont {
    overflow: hidden;
    margin-top: 29px;
}
.com-thumbs-flag {
    float: right;
    opacity: 0;
    transition: opacity .3s;
}
.com-thumbs-flag a {
    font-size: 12px;
}

.user-rating {
    display: inline-block;
}

.com-guest {
    width: 40%;
    padding: 20px;
}
.com-first-review {
    margin-top: 10% !important;
}
.com-first-review h4 i {
    margin-right: 10px;
}
.com-alert {
    display: none;
    text-align: left;
    margin-top: 10px;
    color: #B94A48;
    font-size: 13px;
}
.com-stream {
    width: 50%;
    clear: both;
    margin-left: 10%;
}
#stream {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 400px;
    min-height: 200px;
}
.com-alert-wait {
    background: url("../img/preloader-40x40.gif") no-repeat scroll 0 0 /cover rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    opacity: .5;
}
.com-sort-hidden {
    display: none;
}
#btn-post.disabled {
    cursor: default;
    background-color: #a9aeb0;
    border-color: #a9aeb0;
}
.user-rating .fw-star:before {
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    content: "\2606";
}

.user-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.user-rating > .fw-star:hover:before,
.user-rating > .fw-star:hover ~ .fw-star:before {
    content: "\2605";
    color: #ffea7d !important;
}
.selected-rating.fw-star:before,
.user-rating > .fw-star.selected-rating ~ .fw-star:before {
    content: "\2605";
    color: #ffd70a;
}
.row.com-add div[class^="loading-"] {
    display: none;
}
.loading-bg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    height: 75%;
    position: absolute;
    z-index: 1;
    margin-top: 8%;
}
.loading-animation {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}
.custom-loader {
    text-align: center;
    align-content: center;
    margin-left: 25%;
    color: orange
}
.my-review-topic {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-decoration: none;
    text-transform: uppercase;
}
.review-body {
    overflow: hidden
}
.change-review {
    float: right;
}
.change-review .fw {
    color: gray;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.change-review #btn-delete:hover {
    color: rgba(217, 21, 0, 0.78);
    text-shadow: 1px 1px 1px rgba(255, 21, 0, 0.53);
}
.change-review #btn-edit:hover {
    color: rgba(206, 182, 6, 0.82);
    text-shadow: 1px 1px 1px #e5df00;
}
.btn-flat{
    border-radius: 0px !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}