/* sorting */
.wr-filters .dropdown-menu {
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.176);
    font-size: 14px;
    list-style: outside none none;
    text-align: left;
    background: #444444;
    color:#fff;
}
.wr-filters .dropdown-menu a {
    color:#888;
}
.dropdown-menu > li > a.active-version{
    font-weight: bold;
}
.version-list-dropdown{
    display: inline-block;
}
.version-list-dropdown .btn-default{
    font-size:14px;
    border:1px solid #f5f5f5;
    background:none;
}
.version-list-dropdown.open .btn-default{
    border:1px solid #ccc;
}
.version-list-dropdown .dropdown-menu{
    font-size:14px;
    background:#e6e6e6;
    margin:0px;
    top:33px;
    min-width:138px;
    border:1px solid #ccc;
}
.version-list-dropdown .dropdown-menu>li>a{
    padding:3px 12px;
}
.dropdown-menu > li > a.active-version{
    font-weight:normal;
}
.dropdown-menu-content {
    background-color: #232323;
    padding:10px 20px;
}

.wr-filter-sort .cu-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #232323;
    left:80%;
    position:relative;
}
.wr-global-header .dropdown-menu {
    padding:0;
    top:45px;
    right: 5px;
    background-color: transparent;
}
.wr-global-header .dropdown-menu > li > a{
    padding:10px 10px;
    height: 40px;
}
.wr-global-header div.dropdown > a{
    padding: 20px 10px 20px 20px;
}
.wr-global-header div.dropdown.open a.dropdown-toggle {
    background: #4f4f4f;
}
.wr-global-header .dropdown{
    text-align:right;
    padding-top:10px;
    padding-right:5px;
}
.wr-global-header .dropdown > a{
    color:#fff;
    text-decoration: none;
    font-size:13px;
}
.wr-global-header .dropdown .dropdown-menu{
    background: #4f4f4f;
}
.wr-global-header .dropdown .dropdown-menu a{
    color:#fff;
}
.wr-global-header .dropdown .dropdown-menu a:hover{
    background: #474747;
    color: #fff;
}

/* category selection */
a.ctrl-filter-category {
    display:inline-block;
    background:#237bd5;
    border:1px solid #237bd5;
    color:#fff;
    text-decoration:none;
    padding:5px 4px 5px 20px;
    width:160px;
    font-size:18px;
    font-weight:100;
}

a.ctrl-filter-category:hover {
    background:#666;
    color:#e4e4e4;
    text-decoration: none;
    border:1px solid #666;
}

.wr-filter-category .dropdown-menu {
    border:0px solid #237bd5;
    background:#237bd5;
    top:55px;
    left:15px;
    width:160px;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    font-size:17px;
}

.wr-filter-category .dropdown-menu li a {
    padding-top:7px;
    padding-bottom:7px;
    font-weight:100;
    color:#fff;
}

.wr-filter-category .dropdown-menu li a:hover {
    background:#61a3e6;
}
.version-info-container{
}

.ctrl-filter-category .glyphicon {
    font-size:13px;
    font-weight:100;
    margin-left:33px;
}

.wr-filter-category .fa-angle-down {
    margin-top:3px;
}

.fa-search {
    color:#fff;
}

/* input */
.form-control, .custom-form-right select, .custom-form-right textarea, .cu-data-table td select, .cu-data-table td textarea, .cu-data-table input[type="text"],input[type="text"].input-large {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    border:1px solid;
    border-color:#ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    /*-webkit-appearance: none;*/
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus, .custom-form-right select:focus, .custom-form-right textarea:focus,.input-large:focus,input[type=file]:focus {
    border-color:#777;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}



.version-dropdown-menu{
}

.wr-version-selection .dropdown-menu {
    border:0px solid #237bd5;
    background:#237bd5;
    top:190px;
    left:0px;
    width:230px;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    font-size:17px;
}

.wr-version-selection .dropdown-menu li a {
    padding-top:7px;
    padding-bottom:7px;
    font-weight:100;
    color:#fff;
}

.wr-version-selection .dropdown-menu li a:hover {
    background:#61a3e6;
}


/* forms */
.custom-form-label  {
    font-weight:300;
    font-size:14px;
}




/* ============================================================ */

.ast-img {
    background: #ffffff;
    height:145px;
    width: 145px;
    overflow-y: hidden;
}

.ctrl-wr-asset .ast-img img{
    width:100%;
    height: 145px;
}
.ast-img .ast-name-icon{
    color:#fff;
    width:100%;
    max-width: 150px;
    max-height: 150px;
    font-size:6.5em;
    text-align:center;
    font-weight:200;
    text-transform:capitalize;
    margin-top: -36px;
}
.ast-img .ast-name-img{
    text-align:center;
    width:100%;
    overflow: hidden;
}
.ast-img .ast-name-img:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.asset-detail-top-row .thumbnail-div {
    max-width: 150px;
}

.padding-left-double {
    padding-left:20px !important;
}

.ast-img .ast-name-img > .square-element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Overriding styles, applies from bootstrap .img-thumbnail class */
    border: none;
    border-radius: 0;
    padding: 0;
}


.ast-img .ast-type-icon{
    display:block;
    background:rgba(0, 0, 0, .3);
    color:#fff;
    width:40px;
    height:40px;
    position:relative;
    top:105px;
    z-index: 999;
}
.ast-img .ast-type-icon i{
    font-size:2.2em;
    padding:8px 2px;
}
.ast-desc {
    /*float:left;*/
    margin-left:0;
    position: relative;
}
.ast-desc:hover {
    color: #222222 !important;
}

.ast-desc span:before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 25px;
    height: 100%;
    top: 0;
    right: 0;

}


/* ============================================================ */

.advanced-search-icons{
    display: none;
}
.advanced-search-icons i{
    color: #444;
}
.advanced-search-icons i.fa-wrench{
    position: absolute;
}
.app-title-responsive{
    display: none;
}
@media all and (max-width: 992px) {
    #inp_searchAsset{
        width: 251px;
    }
    .custom-form-label{
        text-align: left;
    }
    .advanced-search-icons{
        color:#999;
        line-height:20px;
        display: inline-block;
    }
    .advanced-search-text{
        display: none;
    }
    .advance-search-btn{
    }
    .advance-search-btn:hover, .advance-search-btn:active{
    }
}
@media all and (max-width: 768px){
    #navbar{
        float:right;
    }
    #navbar .navbar-toggle{
        display: block;
    }
    #navbar .wr-action-btn-bar{
        display: none
    }
    #navbar .dropdown-menu{
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        z-index: 1000;
        float: right;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    #navbar .dropdown-toggle button:hover{
        background: #000;
    }
    #navbar .dropdown-menu{
        background-color: #237bd5;
        border-radius: 0;
        padding: 0;
    }
    #navbar .dropdown-menu>li>a{
        padding: 15px;
        color: #fff;
    }
    #navbar .dropdown-menu>li>a:hover{
        background-color: #000;
    }
    a.ctrl-filter-category{
        width: 180px;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    a.ctrl-filter-category span{
        padding-bottom: 4px;
    }
    span.sort-asset-info span{
        display: none;
    }
    .wr-main-content div.text-right{
        text-align: left;
        font-weight: bold;
    }
    .wr-filters div.wr-search{
        clear:left;
    }
    .app-title{
        display: none;
    }
    .app-title-responsive{
        display: inline;
    }
}
@media all and (max-width: 480px){
    #assetSearchForm{
        margin-top:15px;
    }
    .wr-filters .advance-search-btn{
        margin-top:15px;
    }
    #inp_searchAsset{
        width:251px;
    }
    #categoryDropDown span:first-child{
        /*display: none;*/
    }
    a.ctrl-filter-category{
        width: 305px;
    }
    .wr-filter-category .dropdown-menu{
        width:305px;
    }
}

/* auth dropdown menu override */

.wr-auth-container{
    padding-right:0px;
}

.dropdown-menu-content {
    background-color: #4F5050;
    padding:10px 20px;
    color:#fff;
}

.dropdown-menu-content a {
    color:#fff;
    cursor:pointer;
    display:block;
}
.wr-auth {
    padding-top:0px;
}
.wr-auth .cu-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #4F5050;
    left:81%;
    position:relative;
}

.auth-img {
    float: left;
    display:inline-block;
    border-left:1px solid #5c5c5c;
    height:50px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    padding-right:20px;
    font-size:12px;
    color:#fff;
    text-decoration: none;
    line-height:32px;
}

.auth-img:hover {
    background:#5c5c5c;
}

.es-user-icon{
    display: inline-block;
    margin-right: 5px;
}

.es-user-name{
    display: inline-block;
    margin-right: 5px;
}

.btn,.btn-primary,.btn-default{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
}
.btn-primary{
    background:#237bd5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background:#2d9dee;
}
.collapse{
    padding-bottom:30px;
}
.select2-container--default .select2-selection--multiple{
    border-color:#ccc;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
}
.select2-dropdown,.select2-container--default .select2-selection--multiple .select2-selection__choice{
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
}

/* ========================================================================
 * message styles
 * ======================================================================== */
.message {
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid transparent;
    background: #f9f9f9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.message h4 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
}
.message h4 .icon {
    padding-bottom: 3px;
    margin-right: 5px;
}
.message p:last-child {
    margin-bottom: 0;
}
.message + .message {
    margin-top: -5px;
}

.message-success {
    border-left-color: #5cb85c;
}
.message-success h4 {
    color: #5cb85c;
}
.message-info {
    border-left-color: #009DA7;
}
.message-info h4 {
    color: #009DA7;
}
.message-warning {
    border-left-color: #f0ad4e;
}
.message-warning h4 {
    color: #f0ad4e;
}
.message-danger {
    border-left-color: #d9534f;
}
.message-danger h4 {
    color: #d9534f;
}

/* ========================================================================
 * Sorting template styling
 * ======================================================================== */

ul.sort-list li a:before {
    margin-right: 5px;
    content: "\e673";
    font-family: "font-wso2", serif;
}
ul.sort-list li a.sorting_asc:before {
    content: "\e64b";
    color: aliceblue;
}
ul.sort-list li a.sorting_asc:hover::before{
    content: "\e64b";
    color: black;
}
ul.sort-list li a.sorting_desc:before {
    content: "\e663";
    color: aliceblue;
}
ul.sort-list li a.sorting_desc:hover::before {
    content: "\e663";
    color: black;
}
ul.sort-list li a.active{
    color: aliceblue;
}
ul.sort-list li a.active:hover{
    color: black;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: currentColor;
    white-space: nowrap;
}
.btn-default > .margin-top-align , .margin-bottom-align{
    font-size: 12pt;
    color: gray;
}
.margin-top-align{
    margin-top: -12px;
}
.margin-bottom-align{
    margin-bottom: -10px;
}
.colorbar{
    height: 13px;
    margin-top: 3px;
    margin-right: 2px;
    width: 15px;
    float:left;
}