/* Regular */
@font-face {
    font-family: 'Open Sans';

    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;

}

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

/* Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;

}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

/* Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: 500;
    font-style: italic;

}

/* Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;

}

/* Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: italic;

}

/* Extra Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: 900;
    font-style: normal;

}

/* Extra Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
html, body {
    min-width: 530px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.wr-main-content div.asset-well img{
    max-height:145px;
    width: auto;
}

.wrapper{
    min-width: 400px;
}

.wr-main-container {
    padding:0px 20px;
}

body {
    font-family:'Open Sans';
}

/* application top level header */
h1 {
    color: #444;
    font-size: 27px;
    margin-bottom:20px;
    padding-bottom:20px;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom:0px solid #f0f0f0;
}
h1.asset-name {
    color: #444;
    font-size: 27px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 0px solid #f0f0f0;
}
a{
    cursor: pointer;
}
a:hover, a:focus{
    text-decoration:none;
}
.wr-global-header a:hover, .wr-global-header a:focus, .breadcrumb-wrapper a:hover, .breadcrumb-wrapper a:focus{
    color:#efefef;
}
h2.advanced-search-field-title {
    margin:-20px 0 20px 0;
    border-bottom:solid 1px #f0f0f0;
    padding-bottom:10px;
}
h2.advanced-search-field-title a.collapsing-h2 {
    color: #222222;
    font-size: 22px;
    font-weight: 200;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor:pointer;
}
h2.field-title {
    margin:0px 0 20px 0;
    border-bottom:solid 1px #f0f0f0;
    padding-bottom:10px;
}
h2.field-title a.collapsing-h2 {
    color: #222222;
    font-size: 22px;
    font-weight: 200;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor:pointer;
}

a.collapsing-h2{
    text-decoration: none;
}

h2.app-title, h2.app-title-responsive {
    font-weight:500;
    font-size:17px;
    margin:0;
    padding:3px 0 0 0;
    color:#fafafa;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.wr-global-header {
    background:#444444;
}

.app-logo {
    height:50px;
    padding:12px 20px 12px 16px;
}

.app-logo a:hover {
    text-decoration: none;
    color:#e4e4e4 !important;
}

.app-logo img {
    float:left;
    margin-right:20px;
}

.wr-app-bar {
    background:#237bd5;
    height:54px;
}

header {
    height:50px;
}

.ribbon-container.affix {
    width: 100%;
    display: block;
    top: 0;
    z-index: 1000;
    position: fixed;
}

.wr-asset-type-switcher {
    float:left;
    padding-right:0;
    /* position: absolute; */
    top:0;
    left: 0;
}
.wr-asset-type-switcher a.switcher-link{
    color:#fff;
    height: 54px;
    line-height: 50px;
    font-size:18px;
    font-weight: 100;
    padding-left:15px;
    padding-right:20px;
    background-color:#2374c8;
    border-right:1px solid #3084db;
}

.wr-asset-type-switcher a.switcher-link:hover {
    background-color:#1965b2;
    text-decoration: none;
}

a.ctrl-asset-type-switcher {
    display:inline-block;
    height:54px;
    padding:0px 0 0px 0px;
    font-size:18px;
    color:#fff;
    text-decoration: none;
    font-weight:100;
}

a.ctrl-asset-type-switcher:hover {
    color:#fff;
}

.wr-asset-type-switcher .ast-type-item {
    float:left;
    display:inline-block;
}

.wr-asset-type-switcher span.btn-asset {
    width:54px;
    height:54px;
    margin-right:0px;
    display:inline-block;
    background:#222 url('../img/icons/ico-menu.png') 1em 1em no-repeat;
}

.wr-asset-type-switcher span.btn-asset:hover {
    background-color:#111;
}

.wr-asset-type-switcher span.btn-text {
    padding-top:14px;
}

.wr-secondary-links, .wr-auth {
    padding-top:10px;
}
.nav > li.advanced-search-link{
    position: absolute;
    right: 0;
    float:right;
}
.nav > li.advanced-search-link span{
    font-weight: 100;
}
div.asset-well div.advanced-search-form-container{
    padding:0 20px 20px 20px;
}
div.asset-well div.advanced-search-form-container h1{
    font-weight: 200;
}
a.ast-type-item {
    width:77px;
    height:77px;
    background:#696969;
    display:block;
    margin:5px;
    float:left;
    text-align: center;
    color:#e4e4e4;
    text-decoration: none;
    padding: 10px;
}

a.ast-type-item:hover {
    background:#3f75ff;
    cursor: pointer;
}

.ast-type-item div {
    line-height: 12px;
    padding-top: 5px;
    font-size: 12px;
    vertical-align: middle;
    height: 20px;
}

a.ast-type-item .icon {
    font-size: 26px;
}

.wr-action-container {
    padding-left:0;
}

.wr-action-btn-bar {
    padding-top:0px;
}

/* assets */
.ast-container {
    padding-top:5px;
}

.ast-container .itm-ast {
    float:left;
    margin-bottom:10px;
}

.ctrl-wr-asset {
    width:150px;
    height:300px;
    float:left;
    margin-right:22px;
    position: relative;
}

.itm-ast {
    background:#fff;
    display:block;
    cursor: pointer;
    padding:0;
    margin-bottom:0px;
    width:100%;
    border:0px solid #ff0000;
    height:300px;
}

.itm-ast:hover {
}

.itm-ast:hover h3, .itm-ast:hover .ast-auth {
    color:#555;
}

br.c-both {
    clear:both;
}
.asset-well .ast-img{
    background: transparent;
    margin-bottom:10px;
}
.ast-img img {
    float:left;
}

.ast-desc {
    float:left;
    margin-left:0px;
    overflow:hidden;
    width:140px;
}

h3.ast-name {
    font-weight:300;
    font-size:20px;
    color:#555;
    margin-top:12px;
    margin-bottom:12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    height: 26px;
    position: relative;
}

h3.ast-name:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 26px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 50%);

}
h5.ast-details {
    margin-bottom: 12px;
}
.ast-ver {
    font-weight:300;
    margin-top: 1em;
}
.ast-lc {
    font-weight:300;
}
.ast-auth {
    font-weight:300;
    font-size:13px;
    color:#666;
}
.ast-auth {
    display: block;
    white-space: nowrap;
    word-break: keep-all;
    display: inline-block;
    height: 14px;
    width:90px;
    position: relative;
    overflow:hidden;
}
.ast-auth:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 50%);
}

.ast-published {
    font-weight:300;
    font-size:12px;
    display:block;
    text-align: left;
    color:#aaa;
}

/* action buttons */
a.cu-btn {
    color:#fff;
    text-decoration: none;
    border:0px solid #ff0000;
    padding:17px 10px 16px 45px;
    margin:0 0 0 0px !important;
    font-weight:100;
    display:inline-block;
    text-transform: uppercase;
    background-size: 26px 26px;
    border:0px solid #ff0000;
    padding-left:45px !important;
}

a.cu-btn:hover {
    background-color:#1965b2 !important;
    color:#fafafa !important;
}

i.cu-btn-exp-col {
    display:inline-block;

    height:27px;
    background-size: 26px 26px;
    padding-left:35px;
    font-style: normal;
}

.btn-add-new {
    background:url('../img/icons/ico-add-new.png') 0.8em 1em no-repeat;
}

.btn-stats {
    background:url('../img/icons/ico-stats.png') 0.8em 1em no-repeat;
}

.btn-edit {
    background:url('../img/icons/ico-edit.png') 0.8em 1em no-repeat;
}

.btn-overview {
    background:url('../img/icons/ico-overview.png') 0.8em 1em no-repeat;
}

.btn-lifecycle {
    background:url('../img/icons/ico-lifecycle.png') 0.8em 1em no-repeat;
}

.btn-association {
    background:url('../img/icons/ico-lifecycle.png') 0.8em 1em no-repeat;
}

.btn-permission {
    background:url('../img/icons/ico-lifecycle.png') 0.8em 1em no-repeat;
}

.btn-copy {
    background:url('../img/icons/ico-copy.png') 0.8em 1em no-repeat;
}
.btn-delete {
    background:url('../img/icons/ico-delete.png') 0.8em 1em no-repeat;
}
.not-active,.not-active:hover {
    cursor: default;
    background-color:#2385ee;
    opacity: 0.3;
}
.btn-collapsed {
    background:url('../img/icons/ico-expanded.png') no-repeat;
}
.collapsed .btn-collapsed {
    background:url('../img/icons/ico-collapsed.png') no-repeat;
}
.sort-wrapper{
    position: absolute;
    right: 0;
    margin-right: 10px;
}
.sort-asset-info{
    color: #a5a5a5;
    font-size: 11px;
}
.sort-asset-container{
    position: relative;
}
a.cu-ico-right-button {
    display:inline-block;
    color:#fff;
    font-size:13px;
    padding:5px 36px 5px 0px;
}

a.cu-ico-button-user {
    background:url('../img/icons/ico-user.png') right  no-repeat;
}

a.cu-ico-button-stats {
    background:url('../img/icons/ico-meter.png') right  no-repeat;
}


a.btn-inline-form {
    color:#333;
    text-decoration: none;
    border:0px solid #ff0000;
    padding:15px 10px 16px 45px;
    margin:0 0 0 0px !important;
    font-weight:100;
    display:inline-block;
    background-size: 22px 22px;
    border:0px solid #ff0000;
    padding-left:27px !important;
    cursor:pointer;
}

a.btn-inline-tr {
    color:#333;
    text-decoration: none;
    border:0px solid #ff0000;
    padding:5px 10px 6px 45px;
    margin:0 0 0 0px !important;
    font-weight:100;
    display:inline-block;
    background-size: 22px 22px;
    border:0px solid #ff0000;
    padding-left:27px !important;
    cursor:pointer;
}

a.btn-inline-form:hover {

}

.btn-add-dark {
    background:url('../img/icons/ico-add-new-dark.png') 0em 1em no-repeat;
}

.btn-delete-dark {
    background:url('../img/icons/ico-delete-dark.png') 0em 0.4em no-repeat;
}

#dropdownMenu1:hover{
    text-decoration: none;
}
#ul-sort-assets li a {
    color: #888;
    opacity: 1;
    text-transform: uppercase;
    font-size: 12px;
    height: 30px;
    width: 250px;
}
#ul-sort-assets li a:hover {
    color: #fff;
    background: #666;
}
#ul-sort-assets li {
    color: #333;}
#ul-sort-assets li:hover{
    color: #fff;}

#ul-sort-assets {
    background: #000 none repeat scroll 0 0;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.176);
    color: #fff;
    font-size: 14px;
    list-style: outside none none;
    text-align: left;
    padding:0;
    margin-right:0px;
}
#ul-sort-assets li.active a{
    background: #ccc;
    color:#333;
}
.btn-add-new {
    background:url('../img/icons/ico-add-new.png') 0.8em 1em no-repeat;
}

a.cu-ico-right-button {
    display:inline-block;
    color:#fff;
    font-size:13px;
    padding-right:36px;
}

a.cu-ico-button-user {
    background:url('../img/icons/ico-user.png') right  no-repeat;
}

a.cu-ico-button-stats {
    background:url('../img/icons/ico-meter.png') right  no-repeat;
}

/* buttons */


/* filter */
.wr-filters {
    /*padding:18px 30px 15px 15px;*/
    padding-top:20px;
}

.wr-filters .dropdown-menu .filter-item{
    color:#333;
    background:#e2e2e2;
}
.wr-filters .dropdown-menu .filter-item span,
.wr-filters .dropdown-menu .filter-item i{
    line-height:2;
}

.wr-secondary-bar {
    border-bottom:0px solid #f0f0f0;
}

.wr-filter-sort a.ico-filter {
    display:inline-block;
    width:40px;
    height:40px;
    background:#fff;
    padding:5px;
}

.wr-filter-sort a.ico-filter:hover {
    background:#f0f0f0;
}

.datepicker{
    position: absolute;
}
.bootstrap-timepicker .add-on{
    background: #ccc;
}
/* Sticky footer styles
-------------------------------------------------- */

.footer {
    /*
    position: absolute;
    bottom: 0;
    width: 100%;
    */
    height: 40px;
    background-color: #161616;
    padding-top:5px;
    color:#fff;
    font-weight: 100;
    padding-left:20px;
    font-size:12px;
    letter-spacing: 1px

}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer p {
    margin: 5px 0;
}

#logo-wso2 {
    background: url("../img/wso2-logo-small.png") no-repeat scroll left top transparent;
    font-size: 21px;
    display: inline-block;
    height: 17px;
    width: 41px;
}

#logo-wso2:hover {
    background-position: left -18px;
}

/* search */
.wr-search {
    margin-left:0px;
}
.wr-search input {
    background:#444;
    width:28.2em;
    border:1px solid #444;
    color:#fff;
    font-size:18px;
    font-weight: 100;
    padding:7px 15px;
    height: 37px;

}
.wr-search input:focus{
    outline: 0;
}

.btn-search {
    display:inline-block;
    font-size:19px;
    font-weight:500;
    color:#333;
    background:#444;
    position:relative;
    padding:5px 10px;
    right:40px;
}

.wr-search .glyphicon {
    color:#fff;
}
.advance-search-btn{
    height: 42px;
    padding-top:10px;
    margin-left:-35px;
}
.wr-filters div.wr-filter-category, .wr-filters div.wr-search {
    float:left;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}
.version-list-dropdown{
    display: inline-block;
}
.modal-body{
    text-align: center;
}
.modal-content{
    background: transparent url(../img/modal-back.png) left top repeat;
}
.modal-comment{
    width:100%;
    height: 150px;
}
.lifecycle-help-wrapper{
    background: #efefef;
    padding:20px;
}
.lifecycle-help{
    text-indent: 20px;
    color: #444;
}
.canvas-wrapper{
    border-top:solid 1px #ccc;
    padding:0;
}
.lifecycle-message-wrapper{
    background-color: #efefef;
}
.asset-well{
    margin-top:14px;
    border-radius: 0;
    border:none;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 0;
}
.asset-well [class^="col-lg-"]{
    padding:0;
}
.asset-well h1{
    padding-top:0;
    margin-top:0;
}
.well-description{
    padding-top:0px;
    font-weight: 300;
}
h2 i.fa-stack-1x{
    font-size: 29px;
    line-height: 33px;
}
h2 i.fa-stack-2x{
    font-size: 35px;
}

h2 span.fa-stack{
    line-height: 35px;
    height: 35px;
    width: 30px;
}
.tag-element{
    margin-bottom: 3px;
    background: #cdcdcd;
    padding: 4px 8px;
    display: inline-block;
}
#tag-ui-container-view{
    padding-top:0px;
    padding-bottom:0px;
}
.padding-bottom-xs{
    padding-bottom:5px;
}.padding-bottom-sm{
     padding-bottom:10px;
 }.padding-bottom-md{
      padding-bottom:15px;
  }.padding-bottom-lg{
       padding-bottom:15px;
   }

.padding-left-xs{
    padding-left:5px;
}.padding-left-sm{
     padding-left:10px;
 }.padding-left-md{
      padding-left:15px;
  }.padding-left-lg{
       padding-left:20px;
   }
.padding-right-xs{
    padding-right:5px;
}.padding-right-sm{
     padding-right:10px;
 }.padding-right-md{
      padding-right:15px;
  }.padding-right-lg{
       padding-right:20px;
   }

.padding-top-xs{
    padding-top:5px;
}.padding-top-sm{
     padding-top:10px;
 }.padding-top-md{
      padding-top:15px;
  }.padding-top-lg{
       padding-top:20px;
   }


.margin-bottom-xs{
    margin-bottom:5px;
}.margin-bottom-sm{
     margin-bottom:10px;
 }.margin-bottom-md{
      margin-bottom:15px;
  }.margin-bottom-lg{
       margin-bottom:20px;
   }

.margin-left-xs{
    margin-left:5px;
}.margin-left-sm{
     margin-left:10px;
 }.margin-left-md{
      margin-left:15px;
  }.margin-left-lg{
       margin-left:20px;
   }
.margin-right-xs{
    margin-right:5px;
}.margin-right-sm{
     margin-right:10px;
 }.margin-right-md{
      margin-right:15px;
  }.margin-right-lg{
       margin-right:20px;
   }

.margin-top-xs{
    margin-top:5px;
}.margin-top-sm{
     margin-top:10px;
 }.margin-top-md{
      margin-top:15px;
  }.margin-top-lg{
       margin-top:20px;
   }
.add-unbounded-row{
    padding:0 0 20px 10px;
}
.width-full{
    width:100%;
}
.navbar-themed ul.navbar-nav{
    width: 100%;
}
.navbar-themed{
    margin:0;
    background: none repeat scroll 0 0 #237bd5;
    height: auto;
    min-height: auto;
    border: none;
    border-radius: 0;
}
.navbar-themed .navbar-collapse {
    /* margin-left: 150px; */
    border:none;
}
.navbar-themed .navbar-nav > li{
    background: none repeat scroll 0 0 #237bd5;
    padding-left: 10px;
}
.navbar-themed .navbar-nav > li > a{
    height: 54px;
    padding:0 20px 0 0;
    line-height: 54px;
    color: #fff;
}
.navbar-themed .navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}
.navbar-themed .navbar-toggle:focus{
    background: #222;
    border: #000;
}
.ribbon-container{
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    width: 100%;
}
.date-range-wrapper{
    float:none;
}
.graph-placeholder{
    margin-top:20px;
}
.menu-stack-icons.fa-stack i:first-child{
    text-indent: 1px;
}
.collapse-stack-icons.fa-stack i:first-child{
    text-indent: 4px;
}

/* ovrds */
.ovrd-wr-asst-listing {

}

.wr-action-btn-bar ul.nav li {
    padding-left:0;
    padding-right:0;
}

#navbar {
    float:left;
    padding-left:0px;
    margin-top:0;
}

.wr-main-content {
    margin-left:3px;
    margin-right:0px;
    margin-top: 80px;
}

/* validation */
.emptyAssets-MsgDiv {
    border-bottom:1px solid #FFE59A;
    font-weight:100;
    font-size:18px;
    padding-bottom:10px;
    padding-top:3px;
    color:#333;
    background:url('../img/icons/ico-alert-info.png') no-repeat;
    padding-left:39px;
    margin-bottom:20px;
}
.success-MsgDiv {
    border-bottom:1px solid #3399ff;
    font-weight:100;
    font-size:18px;
    padding-bottom:10px;
    padding-top:3px;
    color:#333;
    background:url('../img/icons/ico-alert-success.png') no-repeat;
    padding-left:39px;
    margin-bottom:20px;
}
.error-MsgDiv {
    border-bottom:1px solid #ff3333;
    font-weight:100;
    font-size:18px;
    padding-bottom:10px;
    padding-top:3px;
    color:#333;
    background:url('../img/icons/ico-alert-error.png') no-repeat;
    padding-left:39px;
    margin-bottom:20px;
}

input[type="text"].error-field, input[type="password"].error-field, .custom-form-right textarea.error-field.form-control {
    border-color: #C10F43;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.error {
    color: #d10000;
    line-height: 1.5em;
    color: #fff;
    background-color: #e74c3c;
    width: 100%;
    padding: 5px 10px;
    border-left: 5px solid #942F25;
    font-weight: 500;
}
/* custome tables */
.cu-data-table {
    margin-bottom:25px;
    margin-left:5px;
    width:800px;
}

.cu-data-table th {
    background:#f5f5f5;
    padding:5px 10px;
    font-weight: 100;
    font-size:12px;
}

.cu-data-table td {
    padding:10px 15px 0 10px;
}

.cu-data-table td textarea {
    width:400px !important;
    height:34px !important;
}

#saveButtons {
    margin-top:30px;
    padding-top:10px;
    border-top:1px solid #f5f5f5;
}

#updateButtons {
    margin-top:30px;
    padding-top:10px;
    border-top:1px solid #f5f5f5;
}

.decorated-table-heading tr th {
    background: #ccc;
}

div.notifyjs-happyblue-base {
    padding: 19px;
}
/* popover window styles */
.popover {
    border-radius: 0;
    box-shadow: none;
    background: #222;
    max-width: 384px;
}

.popover.bottom > .arrow:after {
    border-bottom-color: #222;
}

.popover.bottom.right > .arrow {
    top: 0;
    left: 25px;
    border-right-color: transparent;
}

.popover.bottom.right > .arrow:after {
    border-right-color: transparent;
    border-left-width: 10px;
}

.popover.bottom {
    top: 100%;
}

.popover-content {
    padding: 4px;
}

.popover ul.tiles, .popover ul.tiles > li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popover ul.tiles > li {
    display: inline-block;
    float: left;
}

.popover ul.tiles li a {
    display: block;
    margin: 4px;
    padding: 5px;
    list-style: none;
    width: 85px;
    height: 85px;
    text-align: center;
    vertical-align: text-bottom;
    color: #fff;
    text-decoration: none;
    background: #444;
}

.popover ul.tiles li a:hover {
    background: #555;
}

.popover ul.tiles li a .icon {
    display: block;
    font-size: 35px;
    margin: 3px 0 7px;
    height: 35px;
}

.popover ul.tiles li a .name {
    display: block;
    line-height: 14px;
    font-size: 12px;
    height: 28px;
    overflow: hidden;
}
.navbar-header{
    float: right;
}
.ast-type-display{
    background: #222;
    color: #fff;
    font-size: 11px;
    margin-top: -20px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 3px;
    position: absolute;
    text-align: left;
    width: 100%;
    opacity: 0.8;
}
.loading-animation{
    padding:15px 0 0 0;
    font-size: 15px;
}
.loading-animation-big{
    background: #fefefe;
    padding:10px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}
.loading-animation-big i{
    font-size: 50px;
    color: #4290ef;
}
.loading-animation-big span{
    font-size: 14px;
    line-height: 50px;
    text-indent: 20px;
    display: inline-block;
    position: absolute;
}

sup.required-field{
    top: -0.25em;
    left: 0.25em;
    font-size:90%;
    color:#e74c3c;
    font-weight:400;
}

.image-display{
    max-height: 150px;
    margin-right: 20px;
    cursor:pointer;
}
.search-label {
    font-weight: 200;
    font-size: 18px;
}

.inverse .search-label {
    color: #fff;
}

.form-search {
    max-width: 100%;
}

.form-search input.form-control {
    background: #444;
    border: none;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    padding: 0 0 0 15px;
}

.form-search a {
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 18px;
    height: 37px;
    width: 30px;
    pointer-events: all;
}

.form-search a:hover {
    background: #949494;
    text-decoration: none;
}

.form-search a.search {
    right: 0;
}
.form-search a.advance {
    white-space: nowrap;
    font-size: 12px;
    background: transparent;
    width: auto;
    left: 265px;
    color: #337ab7;
}

.inverse .form-search a.advance {
    background: #4B525F;
}

.form-search a.advance i, .form-search a.advance span {
    line-height: 40px;
}

.form-search a.advance span {
}

.form-search input.form-control::-webkit-input-placeholder { color: #e4e4e4; }
.form-search input.form-control:-moz-placeholder { color: #e4e4e4; }
.form-search input.form-control::-moz-placeholder { color: #e4e4e4; }
.form-search input.form-control:-ms-input-placeholder { color: #e4e4e4; }

@media (min-width: 992px){
    .form-search { max-width: 42em; }
    .form-search a.search { right: 0; }
    .form-search a.advance { width: 170px; right: auto;left:484px; }
    .form-search a.advance i { line-height: 35px; padding-bottom: 5px; }
    .form-search a.advance span { display: inline-block; }
}

.tab-selected {
    pointer-events: none;
    cursor: default;
    background-color: #1965b2;
}

.breadcrumb {
    padding: 5px 15px;
    margin-bottom: 0;
    list-style: outside none none;
    background-color: #282828;
    border-radius: 0px;
}

.breadcrumb-wrapper{
    color: #222;
}

.breadcrumb-link {
    color:white;
}
.thumbnail-width-fixer{
    max-width: 200px;
    margin-right: 10px;
}
.no-image {
    position: relative;
    padding-right: 55px;
}
.no-image::after {
    content: "\2757 " " " attr(data-noImage);
    font-size: 16px;
    font-family: FontAwesome, serif;
    color: rgb(100, 100, 100);
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 105px;
    height: 100%;
    background-color: #fff;
}
#deleteModal .form-inline .message {
    display: none;
}

/* Search Option Popover */
a#search-info {
    width: 50px;
    height: auto;
    right: -221px;
    left: 620px;
    background-color: #fff;
    color: #B3B3B3;
    font-size: 20px;
    margin-top: 2px;
}

.form-group > .popover {
    background-color: #F7F7F7;
    border: 0px;
    opacity: 0.85;
}

.form-group > .popover > .popover-content {
    background-color: #ECECEC;
    border: 0px;
    width: 320px;
    color: #444;
    font-size: 12px;
    padding: 15px;
    line-height: 20px;
    margin-top: 0;
}

.form-group > .popover > .popover-content > ul {
    list-style-type: none;
    padding-left: 20px;
}

.form-group > .popover > .popover-content > h3 {
    padding-left: 20px;
    margin-top: 0;
    padding-left: 0;
    font-size: 18px;
}

.form-group > .popover.bottom > .arrow:after {
    border-bottom-color: #ECECEC;
}

.lifecycle-state {
    display: block;
}
/* </Search Option Popover> */