.node circle {
    color: #333;
    fill: #fff;
}

.node rect {
    /*
  stroke: #698FF3;
  fill: #698FF3;
 */
    color: #333;
    stroke: #fff;
    fill: #fff;
    stroke-width: 1px;
}

.edgePath path {
    /* stroke: #698FF3;
  fill: #698FF3;
  */

    stroke: #9d9c9c;
    fill: #9d9c9c;
    stroke-width: 1px;
    fill-opacity: 0 !important;
}

text {
    /*font-size: 10px;*/
    font-weight: lighter;
    /*fill: rgb(242, 242, 247);*/
}

#lifecycle-selector {
    width: 375px;
}

#lifecycle-rendering-area {
    border: 1px solid #e8e8e8;
    width: 100%;
    background-image: url("../img/grid.png");
}

.border-box {
    border: 1px solid #333;
    width: 50%;
    background-color: #fafafa;
}

#lifecycle-history-container {
    float: left;
    height: 100%;
    min-height: 500px;
    width: 100%;
    margin-bottom: 15px;
}

.btn-default {
    background-color: #3a9ecf;
    border-radius: 0px;
    border: 0px;
    padding: 12px 25px;
    color: #ffffff;
}

.history-entry {
    border-bottom: 1px solid #e2e2e2;
    line-height: 30px;
    list-style: outside none square;
}
.history-entry > span{
    color:#999;
    font-size:12px;
}

.float-left {
    float: left;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-left-double {
    margin-left: 20px;
}

.margin-right-double {
    margin-right: 20px;
}

.margin-top-double {
    margin-top: 20px;
}

.margin-bottom-double {
    margin-bottom: 20px;
}

.float-left h3 {
    margin: 0px;
    padding-right: 10px;
    padding-left: 6px;
    padding-top: 10px;
}

.blue {
    color: #9b9b9b;
}

#lifecycle-comment {
    width: 100%;
    min-height: 117px;
}

.comment-title {
    font-style: italic;
    font-weight: bold;
    color: #333;
}

.comment {
    font-style: italic;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-left: 3px solid #a30300;
    border-radius: 0px;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-left: 3px solid #8a6d3b;
    border-radius: 0px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-left: 3px solid #3c763d;
    border-radius: 0px;
}

.lifecycle-dropdown-menu {
}

.lifecycle-selection-area {
    padding-top: 10px;
}

.lifecycle-information-area{
    padding-left: 20px;
}

.wr-lifecycle-selection .dropdown-menu {
    border: 0px solid #787777;
    background: #8a8a8a;
    top: 246px;
    left: 143px;
    width: 202px;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-size: 16px;
}

a.ctrl-filter-lc-category {
    display:inline-block;
    background:#444;
    border:1px solid #444;
    color:#fff;
    text-decoration:none;
    padding:5px 10px 5px 20px;
    width:202px;
    font-size:16px;
    font-weight:100;
    margin-top: 5px;
}

.wr-lifecycle-selection .dropdown-menu li a {
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 100;
    color: #fff;
}

.wr-lifecycle-selection .dropdown-menu li a:hover {
    background: #61a3e6;
}

#lifecycle-rendering-area svg {
    width: 100%;
}

#lifecycle-actions {
    padding-left: 5px;
}

#lifecycle-actions-container {
    margin-bottom: 15px;
}

#lifecycle-comments label{
    font-weight:500;
}

/**********************************************************
* Transition UI
***********************************************************/
.transition-inputs-instructions {
   padding-bottom: 10px;
}

/**********************************************************
* Lifecycles Management UI
***********************************************************/
.disable-lcmgt-btns {
  pointer-events: none;
  cursor: default;
}
.lifecycles-list {
  table-layout: fixed;
  width: 500px;
}
.lifecycles-mgt-icon {
  display: inline-block;
  margin-right: 10px;
  margin-top: -5px;
}
.lifecycles-mgt-remove-icon {
  display: inline-block;
  margin-right: 10px;
  margin-top: -5px;
}
