.node circle{    color: #333;
    fill: #fff;
}
.node rect {
    /*
  stroke: #698FF3;
  fill: #698FF3;
 */
    color: #333;
  stroke: #fff;
    fill: #fff;
    stroke-width: 1px;
}
.edgePath path {
    /* stroke: #698FF3;
  fill: #698FF3;
  */

  stroke: #9d9c9c;
  fill:#9d9c9c;
    stroke-width: 1px;
}
text {
    /*font-size: 10px;*/
    font-weight: lighter;
    /*fill: rgb(242, 242, 247);*/
}
#lifecycle-selector{ width: 400px; }
#lifecycle-rendering-area{border:1px solid #e8e8e8; margin: 16px; width: 50%;
 background-image:url("../img/grid.png"); }
.border-box{border:1px solid #333;width: 50%; background-color: #fafafa; }
#lifecycle-history-container{float: left; background-color: #f9f9f9; border:1px solid #ccc; height: 100%; min-height: 500px; width: 100%; }
.btn-default{background-color: #3a9ecf; border-radius:0px; border: 0px; padding: 12px 25px; color: #ffffff; }
.history-entry{border-bottom: 1px solid #ccc; line-height: 43px; list-style: outside none square; }

.float-left{  float: left;}
.margin-left{margin-left: 10px;}
.margin-right{margin-right: 10px;}
.margin-top{margin-top: 10px;}
.margin-bottom{margin-bottom: 10px;}

.margin-left-double{margin-left: 20px;}
.margin-right-double{margin-right: 20px;}
.margin-top-double{margin-top: 20px;}
.margin-bottom-double{margin-bottom: 20px;}
.float-left h3 {margin: 0px; padding-right: 10px; padding-left:6px;}
.blue{color: #9b9b9b;}
#lifecycle-comment{width:100%;  min-height: 117px;  }
.comment-title{font-style: italic; font-weight: bold; color: #333;}
.comment{font-style: italic;}

