body .store-left {
    padding-top: 0;
}
h4{font-weight: 400; font-size: 20px;}
.asset-description {
    position: relative;
    padding-top: 0;

}
.asset-description-header h2 {
    margin-top: 12px;
}
.asset-description-header h3{
    margin-top:10px;
    font-weight: 200;
    font-size: 26px;
}
.asset-description-header {
    background: #fff;
    display: inline-block;
    float: left;
    height: auto;
    width: 100%;
}
.asset-description-header .row > div {
    position: relative;

}
.asset-description-header .row {
    margin-bottom: 0;
}

#modal-add-gadget code {
    display: block;
}

#modal-add-gadget .copy-status {
    margin-right: 20px;
}

/*
 .assetp-properties li:nth-child(even) {
 background: #f5f5f5;
 }
 */
.assetp-properties .tab-content {
    overflow: visible;
}
#assets-container .nav-tabs > li > a:hover{
    background: #161616;
}
#assets-container .nav-tabs > li.active > a:hover{
    background: #fff;
}
#tab-reviews {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

#tab-reviews li {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    font-size: 14px;
    padding: 9px 0 5px;
}
#tab-reviews .content {
    position: relative;
}

#tab-reviews li p {
    padding-bottom: 0;
    margin-bottom: 0;
}
#tab-reviews ul {
    position: relative;
}

#tab-reviews .tab-reviewer {
    color: #888888;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
#tab-review-box {
    padding: 10px;
    background: #F5F5F5;
}
#tab-review-box .row-fluid {
    margin-bottom: 0;
}

#reviews-loader {
    display: none;
}
#socialIfr {
    overflow: hidden;
}
.asset-banner {
    left: -15px;
}

.asset-introduction-box {
    left: 564px;
}

a.btn-embed {
    border-radius: 4px 4px 4px 4px;
    color: #AAAAAA;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 10px;
    background: #ECF0F1;
    margin-top: 0;
    display: inline-block;
}

a.btn-href {
    border-radius: 4px 4px 4px 4px;
    color: #AAAAAA;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 10px;
    background: #ECF0F1;
    margin-top: 0;
    display: inline-block;
}

a.btn-embed:hover {
    background: #ECF0F1;
    color: #2C3238;
}

a.site {
    display: none;
}

a.ebook {
    display: none;
}

textarea.site {
    display: none;
}

.embed-snippet {

}

.rate-num-assert {
    font-size: smaller;
}

label.error {
    display: none;
}
@media all and (max-width: 1225px) {
    .asset-introduction-box {

    }
}

/*
 * assert introduction box
 *
 *
 */

.asset-introduction-box {
    position: absolute;
    right: -20px;
    bottom: 0;
    top: 0;
    left: 565px;
    padding: 20px;
    border-left: 1px solid #ECF0F1;
    border-bottom: 1px solid #ECF0F1;
}

.asset-introduction-box img {
    width: 75px;
    border: 1px solid #FFFFFF;
}
.asset-introduction-box h3 {
    margin-bottom: 5px;
    line-height: normal;
    max-height: 59px;
    overflow: hidden;
}
.asset-introduction-box small {
    display: block;
    line-height: 1.2;
    color: #7f8c8d;
}
.asset-introduction-box .asset-rating {
    margin-top: 10px;
    margin-bottom: 15px;
}
.text-review-box-charCount-msg {
    text-align: right;
    width: 50%;
    float: right;
}
.asset-introduction-box .rating-count {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}
h4{font-weight: 400px;}
/*
.asset-description-header .asset-introduction-box {
    left: 59% !important;
    right: -1px;
    background: #fff;
}*/
.details-image {
    padding: 0;
    width: 150px;
    float: left;
    transition: all 0.5s ease;
    margin-bottom: 15px;
}

.details-container{ float: left; transition:all 0.5s ease;  padding-left: 10px; }
.action-container{width:auto;padding:10px 0 0 0 ; display:inline-block;min-width: 211px;}
.action-sub-container{width: auto; height: auto; float: left; vertical-align:middle; padding-right: 6px;}
.action-lable{width:85px; height: auto;}
.blue-button {
    background-color: #237BD5;
    border:0 none;
    color:#fff;
    height:45px;
    padding:10px 15px;
    text-align: center;
    font-size: 16px;
}
a.gray-button {
    background-color: #474747;
}
a.disabled-button,a.disabled-button:hover {
    background-color: #c8c8c8;
    color: #a0a0a0;
    cursor: default;
}
.asset-details-wrapper {width:58.3%;  border-left: 1px solid #ccc; float: left;}
.asset-details-wrapper h4{
    margin-top:0;
}
.asset-description{ width: 100%; height: auto; float: left; background-color: #fff; margin-top: 20px;}
.tags {
    background-color: #e3e3e3;
    display: inline-block;
    margin-right: 1%;
    margin-top: 1%;
    padding: 4px 8px;
    text-align: center;
    min-width: 100px;
    color: #282828;
}
.tags:hover {
    background-color: #919191;
    color: #fff;
}
.assetp-properties{float: left; width: 100%; background-color: #fff; padding:20px;}
/*  _____________________________________________________________________________

	 TYPOGRAPHY & COLOR
    _____________________________________________________________________________  */


.font-small{font-size:12px;}
.font-medium{font-size:14px;}
.font-large{font-size:16px;}
.font-extra-large{font-size:20px !important;}

.uppercase{text-transform:uppercase;}
.capitalize{text-transform:capitalize;}
.lowercase{text-transform:lowercase;}


.blue-bg{background-color: #237BD5 !important;}
.grey-bg{background-color: #222222 !important;}
.white-bg{background-color: #ffffff !important;}

.light-blue{color:#237BD5;}
.black{color:#000;}
.grey{color:#333;}
.light-grey{color: #737272;}
.white{color:#FFF;}

.bold{font-weight:bold;}
.no-underline{text-decoration:none;}

.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}
.justify{text-align:justify;}

.middle{vertical-align: middle;}

/*  ____________________________________________________________________________

	 PADDING & MARGIN
    _____________________________________________________________________________  */
.padding-left {padding-left:10px;}
.padding-right  {padding-right:10px;}
.padding-top  {padding-top:10px;}
.padding-bottom  {padding-bottom:10px;}
.padding{padding:10px;}
.padding-none{ padding:0px !important;}

.padding-left-double {padding-left:20px;}
.padding-right-double  {padding-right:20px;}
.padding-top-double  {padding-top:20px;}
.padding-bottom-double  {padding-bottom:20px;}
.padding-double{padding:20px;}

.margin-left {margin-left:10px;}
.margin-right  {margin-right:10px;}
.margin-top  {margin-top:10px;}
.margin-bottom  {margin-bottom:10px;}
.margin{margin:10px;}
.margin-none{margin: 0px !important;}

.margin-left-double {margin-left:20px;}
.margin-right-double  {margin-right:20px;}
.margin-top-double  {margin-top:20px;}
.margin-bottom-double  {margin-bottom:20px;}
.margin-double{margin:20px;}

.section-top-margin{margin: 10%;}
.float-left{float:left;}
.float-right{float:right;}
.clear{ clear:both;}

.relative{ position:relative;}
.border-bottom{border-bottom: 1px solid #282828;}

a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}
