/* */

/* Regular */
@font-face {
    font-family: 'Open Sans';
    
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Italic-webfont.eot');
    src: url('../font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Italic-webfont.woff') format('woff'),
         url('../font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;

}

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

/* Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-LightItalic-webfont.eot');
    src: url('../font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;

}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

/* Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: 500;
    font-style: italic;

}

/* Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;

}

/* Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-BoldItalic-webfont.eot');
    src: url('../font/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: italic;

}

/* Extra Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-ExtraBold-webfont.eot');
    src: url('../font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: 900;
    font-style: normal;

}

/* Extra Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: 900;
    font-style: italic;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f9f9f9;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


.wrapper {
    min-width: 360px;
}

body {
	font-family:'Open Sans';
}

/* application top level header */
h1 {
    color: #222222;
    font-size: 38px;
    font-weight: 200;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.collapsing-h2 h2 {
    margin:0 0 20px 0;
    color: #222222;
    font-size: 28px;
    font-weight: 200;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom:solid 1px #ccc;
    padding-bottom:10px;
}
a.collapsing-h2{
    text-decoration: none;
}
h2.app-title {
	font-weight:100;
	font-size:20px;
	margin:0;
	padding:0;
	color:#fff;
}

.wr-global-header {
	background:#282828;
}

.app-logo {
	height:50px;
	padding:12px 20px;
}

.app-logo img {
	float:left;
	margin-right:20px;
}

.wr-app-bar {
	background:#3a9ecf;
	height:54px;    
}

header {
	height:50px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.wr-asset-type-switcher {
	float:left;
	padding-right:0;
    position: absolute;
    top:0;
    left: 0;
}
.wr-asset-type-switcher a.switcher-link{
    color:#fff;
    height: 54px;
    line-height: 54px;
}

a.ctrl-asset-type-switcher {
	display:inline-block;
	height:54px;
	padding:0px 0 0px 0px;
	font-size:18px;
	color:#fff;
	text-decoration: none;
	font-weight:100;
}

a.ctrl-asset-type-switcher:hover {
	color:#fff;
}

.wr-asset-type-switcher span {
	float:left;
}

.wr-asset-type-switcher span.btn-asset {
	width:54px;
	height:54px;
	margin-right:15px;	
	display:inline-block;
	background:#222 url('../img/icons/ico-menu.png') 1em 1em no-repeat;
}

.wr-asset-type-switcher span.btn-asset:hover {
	background-color:#111;
}

.wr-asset-type-switcher span.btn-text {
	padding-top:14px;
}

.wr-secondary-links, .wr-auth {
	padding-top:10px;
}

a.ast-type-item {
	width:77px;
	height:77px;
	background:#696969;
	display:block;
	margin:5px;
	float:left;
	text-align: center;
	color:#e4e4e4;
	text-decoration: none;	
}

a.ast-type-item:hover {
	background:#3f75ff;
	cursor: pointer;
}

.wr-action-container {
	padding-left:0;
}

.wr-action-btn-bar {
	padding-top:0px;
}

/* assets */
.ast-container {
	padding-top:20px;
}

.ast-container .itm-ast {
	float:left;
	margin-bottom:10px;
}

.itm-ast:hover {
}

.itm-ast:hover h3, .itm-ast:hover .ast-auth {
	color:#3f75ff;
}

br.c-both {
	clear:both;
}
.ast-desc {
	float:left;
	margin-left:0px;
	overflow:hidden;
    width:140px;
}
a.ast-name {
    font-size: 1.1em;
    font-weight: normal;
    color:#555;
    margin-bottom:3px;
    max-height: 45px;
    overflow: hidden;
	margin-top:4px;
    display: block;
    white-space: nowrap;
    position: relative;
}
a.ast-name:hover {
    text-decoration: none;
}
a.ast-name:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 26px;
}
.ast-ver {
	font-weight:300;
	font-size:13px;
}

.ast-auth {
	font-weight:300;
	font-size:13px;
	color:#237bd5;
}

.ast-published {
	font-weight:300;
	font-size:12px;
	display:block;
	text-align: left;
	color:#aaa;
}

/* filter */
a.filter-item {
	color:#e4e4e4;
	text-transform: uppercase;
	text-decoration: none;
	display:block;
	font-size:12px;
	padding:3px 0px;
	font-weight: 100;
	cursor: pointer;
}

a.filter-item:hover {
	text-decoration: none;
	color:#fff;
}

.btn-add-new {
	background:url('../img/icons/ico-add-new.png') 0.8em 1em no-repeat;
}

a.cu-ico-right-button {
	display:inline-block;
	color:#fff;
	font-size:13px;
	padding-right:36px;
}

a.cu-ico-button-user {
	background:url('../img/icons/ico-user.png') right  no-repeat;
}

a.cu-ico-button-stats {
	background:url('../img/icons/ico-meter.png') right  no-repeat;
}


/* filter */
.wr-filters {
	padding:15px 20px 15px 16px;
}

.wr-secondary-bar {
	border-bottom:0px solid #f0f0f0;
}


/* Sticky footer styles
-------------------------------------------------- */

.footer {
	/*
	position: absolute;
	bottom: 0;
	width: 100%;
	*/
	height: 40px;
	background-color: #fff;
	padding-top:5px;
	color:#444;
	font-weight: 100;
	padding-left:20px;
	font-size:12px;
	letter-spacing: 1px
	
}

/* search */
.wr-search input {
	background:#bbb;
	width:380px;	
	border:1px solid #bbb;
	color:#fff;
	font-size:18px;
	font-weight: 100;
	padding:7px 15px;
    height: 42px;
}

.btn-search {
	display:inline-block;
	font-size:20px;
	font-weight:500;
	color:#333;
	background:#bbb;
	position:relative;
	padding:5px 10px;
}

.wr-search .glyphicon {
	color:#fff;
}


::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}
.modal-comment{
    width:100%;
    height: 150px;
}
.lifecycle-help-wrapper{
    background: #efefef;
    padding:20px;
}
.lifecycle-help{
    text-indent: 20px;
    color: #444;
}
.canvas-wrapper{
    border-top:solid 1px #ccc;
    padding:0;
}
.lifecycle-message-wrapper{
    background-color: #efefef;
}
.asset-well{
    padding:0;
    margin-top:20px;
    border-radius: 0;
    border:none;
}
.asset-well [class^="col-lg-"]{
    padding:0;
}
.well-description{
    padding-top:20px;
}
h2 i.fa-stack-1x{
    font-size: 29px;
    line-height: 33px;
}
h2 i.fa-stack-2x{
    font-size: 35px;
}

h2 span.fa-stack{
    line-height: 35px;
    height: 35px;
    width: 30px;
}
.padding-bottom-xs{
    padding-bottom:5px;
}.padding-bottom-sm{
    padding-bottom:10px;
}.padding-bottom-md{
    padding-bottom:15px;
}.padding-bottom-lg{
    padding-bottom:20px;
}

.padding-left-xs{
    padding-left:5px;
}.padding-left-sm{
    padding-left:10px;
}.padding-left-md{
    padding-left:15px;
}.padding-left-lg{
    padding-left:20px;
}
.padding-right-xs{
    padding-right:5px;
}.padding-right-sm{
    padding-right:10px;
}.padding-right-md{
    padding-right:15px;
}.padding-right-lg{
    padding-right:20px;
}

.padding-top-xs{
    padding-top:5px;
}.padding-top-sm{
    padding-top:10px;
}.padding-top-md{
    padding-top:15px;
}.padding-top-lg{
    padding-top:20px;
}


.margin-bottom-xs{
    margin-bottom:5px;
}.margin-bottom-sm{
    margin-bottom:10px;
}.margin-bottom-md{
    margin-bottom:15px;
}.margin-bottom-lg{
    margin-bottom:20px;
}

.margin-left-xs{
    margin-left:5px;
}.margin-left-sm{
    margin-left:10px;
}.margin-left-md{
    margin-left:15px;
}.margin-left-lg{
    margin-left:20px;
}
.margin-right-xs{
    margin-right:5px;
}.margin-right-sm{
    margin-right:10px;
}.margin-right-md{
    margin-right:15px;
}.margin-right-lg{
    margin-right:20px;
}

.margin-top-xs{
    margin-top:5px;
}.margin-top-sm{
    margin-top:10px;
}.margin-top-md{
    margin-top:15px;
}.margin-top-lg{
    margin-top:20px;
}
.width-full{
    width:100%;
}
.navbar-themed ul.navbar-nav{
    width: 100%;
}
.navbar-themed{
    margin:0;
    background: none repeat scroll 0 0 #237bd5;
    height: 55px;
    border: none;
    border-radius: 0;
}
.navbar-themed .navbar-collapse{
    margin-left: 150px;
    border:none;
}
.navbar-themed .navbar-nav > li{
    background: none repeat scroll 0 0 #237bd5;
    padding-left: 10px;
}
.navbar-themed .navbar-nav > li > a{
    height: 54px;
    padding:0 20px 0 0;
    line-height: 54px;
    color: #fff;
}
.navbar-themed .navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}
.navbar-themed .navbar-toggle:focus{
    background: #222;
    border: #000;
}
.ribbon-container{
    padding-left: 0;
    padding-right: 0;
}
.date-range-wrapper{
    float:none;
}
.graph-placeholder{
    margin-top:20px;
}
.menu-stack-icons.fa-stack i:first-child{
    text-indent: 1px;
}
.collapse-stack-icons.fa-stack i:first-child{
    text-indent: 4px;
}
@media all and (min-width: 768px) {
    .custom-form-right{
        width: 50%;
    }
}
.wr-action-container .search .advanced-search-btn{
    height: 45px;
    background:url("../img/icons/advance-search.png") no-repeat scroll center center #fff;
    margin-top:4px;
    margin-bottom: 5px;
    border: none;
    padding-left: 28px;
}
.advanced-search-btn i{
    color:#444;
}
.asset-rating-container{
    margin-left: 10px;
}
.asset-rating {
    background: url('../img/store-stars.png') no-repeat top left;
    display: block;
    height: 20px;
    width: 100px;
    overflow: hidden;
}
.asset-rating > div {
    background: url('../img/store-stars.png') no-repeat bottom left;
    height: inherit;
}

.asset-rating-0star, .asset-rating-star {
    width: 0;
    display: block;
}
.asset-rating-1star {
    width: 16px;
    display: block;
}
.asset-rating-2star {
    width: 32px;
    display: block;
}
.asset-rating-3star {
    width: 48px;
    display: block;
}
.asset-rating-4star {
    width: 64px;
    display: block;
}
.asset-rating-5star {
    width: 80px;
    display: block;
}
/* sorting */
.dropdown-asset-custom ul.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 10px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px rgba(0,0,0,.175);
    overflow: hidden;
    margin-left: -160px;
    margin-top: -5px;
    border: solid 1px #ccc;
    background: #efefef;
}
div.top-menu-right-custom .navbar-nav > li > a{
    color:#fff;
    text-transform: uppercase;
    text-indent: 20px;
}
div.top-menu-right-custom .navbar-nav > li > a:hover{
    text-transform: uppercase;
    text-indent: 20px;
}
.dropdown-toggle:hover{ background-color: #3a9ecf; color: #ffffff;}
.dropdown-toggle a:focus{ background-color: #3a9ecf;  color: #ffffff;}