/* Custom Stylesheet */
body {
    background: #f9f9f9;
}
nav.navigation {
    background: #525252;
    color: #fff;
    position: relative;
    padding-top: 40px;
    min-height: 100px;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.left-menu {
    position: absolute;
    z-index: 1000;
}

nav.navigation > a, nav.navigation {
    display: table;
    width: 200px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    position: relative;
}

nav.navigation > a > .icon {

    vertical-align: middle;
    width: 45px;
    height: 40px;
}

nav.navigation > a > .icon > i {
    margin: 0 11px;
    line-height: 100%;
    font-size: 21px;
    position: relative;
    top: 2px;
    margin-top: 5px;
}

nav.navigation > a > .left-menu-item {
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
    line-height: 38px;
    width: 153px;
}

nav.navigation > a.active {
    top: 0;
    position: absolute;
}

nav.navigation > a.home, nav.navigation > a.home .left-menu-item {
    background: #444;
    color: white;
}

nav.navigation > a.home.active {
    background: #444;
    color: white;
}

nav.navigation > a.home.active > .left-menu-item {
    background: #444;
}

nav.navigation > a.green .icon {
    background: #27ae60;
    color: white;
}

nav.navigation > a.green:hover > .icon {
    background: #27ae60;
    color: white;
}

nav.navigation > a.green:hover > .left-menu-item, nav.navigation > a.green.active > .left-menu-item, nav.navigation > a.green.hover > .left-menu-item {
    background: #27ae60;
    color: white;
    width: 77.5%;
    height: 40px;
}

nav.navigation > a.red .icon {
    background: #c0392b;
    color: white;
}

nav.navigation > a.red:hover > .icon {
    background: #c0392b;
    color: white;
}

nav.navigation > a.red:hover > .left-menu-item, nav.navigation > a.red.active > .left-menu-item, nav.navigation > a.red.hover > .left-menu-item {
    background: #c0392b;
    color: white;
    width: 77.5%;
    height: 40px;
}

nav.navigation > a.orange .icon {
    background: #d35400;
    color: white;
}

nav.navigation > a.orange:hover > .icon {
    background: #d35400;
    color: white;
}

nav.navigation > a.orange:hover > .left-menu-item, nav.navigation > a.orange.active > .left-menu-item, nav.navigation > a.orange.hover > .left-menu-item {
    background: #d35400;
    color: white;
    width: 77.5%;
    height: 40px;
}

nav.navigation > a.yellow .icon {
    background: #f39c12;
    color: white;
}

nav.navigation > a.yellow:hover > .icon {
    background: #f39c12;
    color: white;
}

nav.navigation > a.yellow:hover > .left-menu-item, nav.navigation > a.yellow.active > .left-menu-item, nav.navigation > a.yellow.hover > .left-menu-item {
    background: #f39c12;
    color: white;
    width: 77.5%;
    height: 40px;
}

nav.navigation > a.blue .icon {
    background: #2980b9;
    color: white;
}

nav.navigation > a.blue:hover > .icon {
    background: #2980b9;
    color: white;
}

nav.navigation > a.blue:hover > .left-menu-item, nav.navigation > a.blue.active > .left-menu-item, nav.navigation > a.blue.hover > .left-menu-item {
    background: #2980b9;
    color: white;
    width: 77.5%;
    height: 40px;
}

nav.navigation > a.purple .icon {
    background: #8e44ad;
    color: white;
}

nav.navigation > a.purple:hover > .icon {
    background: #8e44ad;
    color: white;
}

nav.navigation > a.purple:hover > .left-menu-item, nav.navigation > a.purple.active > .left-menu-item, nav.navigation > a.purple.hover > .left-menu-item {
    background: #8e44ad;
    color: white;
    width: 77.5%;
    height: 40px;
}

nav.navigation > a.grey .icon {
    background: #2c3e50;
    color: white;
}

nav.navigation > a.grey:hover > .icon {
    background: #2c3e50;
    color: white;
}

nav.navigation > a.grey:hover > .left-menu-item, nav.navigation > a.grey.active > .left-menu-item, nav.navigation > a.grey.hover > .left-menu-item {
    background: #2c3e50;
    color: white;
    width: 77.5%;
    height: 40px;
}
nav.navigation .second_level {
    display: none;
}

nav.navigation .second_level a {
    height: auto;
    line-height: 20px;
    padding: 8px 0 8px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

nav.navigation .second_level a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

nav.navigation .second_level > .back {
    height: 100%;

    padding: 0 3px;
    background: #FFF;
    vertical-align: middle;
    font-size: 13px;
    width: 5px;
}

nav.navigation .second_level > .left-menu-item {
    padding: 6px 0;
    text-align: left;
    width: 100%;

    vertical-align: middle;
}

/*==================== end of nav styles====================*/

.clear-both{
    clear:both !important;
}

.left-col {
    margin: 45px;
}

.category-wrapper {
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    margin-top: -10px;
    width:100%;
}

.category {
    padding-top: 10px;
}

.category:hover {
    padding-top: 10px;
}

dropdown-menu> li a:hover {
    background: #1a78d8;
    cursor: pointer;
    color: #fff;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 100;
    line-height: 2;
    color: #333;
    white-space: nowrap;
}

/* category selection */
a.ctrl-filter-category {
    background: url("../img/icons/down-arrow.png") #fff no-repeat scroll right center;
    color: #000;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 100;
    height: 39px;
    margin-top: -10px;
    padding: 11px 10px 7px 10px;
    text-decoration: none;
    width: 193px;
    border: 0px;
}
.category>.dropdown-menu{
    background-color: #f5f5f5;
    border: 1px solid #cbcbcb;
    border-top: 0px;
    position: absolute;
    left: 14px;
    top: 39px;
    box-shadow: none;
    -webkit-box-shadow:none;}

a.ctrl-filter-category:hover,a.ctrl-filter-category:active   {
    background-color:#e3e3e3;
    color:#333;
    text-decoration: none;
    width: 193px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 100;
    line-height: 2;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu> li {
    line-height: 20px;

}
.dropdown-menu> li a:hover {
    background: #1a78d8;
    cursor: pointer;
    color: #fff;
    margin-left: -10px;
    padding-left:29px;
}
a.ctrl-filter-category:hover,a.ctrl-filter-category:focus
{
    background-color:whitesmoke;
    color:#333;
    text-decoration: none;
}

.wr-filter-category .dropdown-menu {
    border:0px solid #237bd5;
    background:#237bd5;
    top:47px;
    left:40%;
    width:230px;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    font-size:17px;
}

.wr-filter-category .dropdown-menu li a {
    padding-top:7px;
    padding-bottom:7px;
    font-weight:100;
    color:#fff;
}

.wr-filter-category .dropdown-menu li a:hover {
    background:#61a3e6;
}
.ctrl-filter-category .glyphicon {
    font-size:13px;
    font-weight:100;
    margin-left:33px;
}

.tag-title {
    background-color: #f4f4f4;
    border-right: 1px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
    height: 40px;
    padding-top: 5px;
    width: 200px;
    padding-left: 10px;
    font-size: 18px;

}

.tag-content {
    word-wrap: break-word;
    width: 200px;
    padding-left: 10px;
    line-height: 30px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 15px;
    background-color: #FDFDFD;

}

.tag-content > a > label {
    padding: 3px;
    line-height: 19px;
    font-weight: 100;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #E4E3E3;
    font-size: 12px;
}

.tag-content > a > label:hover {
    background-color: #C9E4FF;
    border: 1px solid #C9E4FF;
}

.tag-more {
    text-align: right;
    font-weight: 100;
    color: #3B579D;
    padding-right: 10px;
    cursor: pointer;
}

.wr-filter-sort > .dropdown-menu {
    width: 168px;
    margin: 5px 15px 0;
}

.dropdown-menu > .dropdown-menu-content {
    background-color: #F5F5F5;
}

.dropdown-menu-content > a.filter-item:hover {
    text-decoration: none;
    color: #3B579D;
}

.wr-asset-type-switcher span {
    float: left;
}

.more {
    color: #000;
    float: right;
    background-image: url(../img/icons/more-icon.png)!important;
    background-position: center left;
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding: 23px 3px 16px 36px !important;
}


.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 40%;
    margin-bottom: 0;
    margin-left: 208px;
    height: 35px !important;
    margin-top: 3px;
}
.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-top: 3px;
    height: 35px;
    border-radius: 0px;
    height: 35px;
    border: 0px;
}
.form-control::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 100;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    font-weight: 100;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
    font-size: 15px;
    font-weight: 100;
}

.form-control:-ms-input-placeholder {
    font-size: 15px;
    font-weight: 100;
}
/* input */
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #999;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #555;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);
}


.ctrl-wr-asset  {
    position: relative;
    width: 13.2%;
    float: left;
    margin: 0.5%;
    background: #fbfbfb;
    transition: all 0.5s ease;
    border: 1px solid #F1EBEB;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

    .left-col {
        margin: 55px;
    }
    .ctrl-wr-asset  {
        position: relative;
        width:19%;
        float: left;
        margin: 0.5%;
        background: #fbfbfb;
        transition: all 0.5s ease;
        border: 1px solid #F1EBEB;
    }
    .wr-asset {
        width: 19%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .left-col {
        margin: 0 30px;
    }
    .ctrl-wr-asset {
        width: 21.6%;
        margin-bottom: 2%;
    }
    .row > .col-lg-12 {
        padding: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    nav.navigation > a, nav.navigation {
        width: 45px !important;
    }

    .left-menu-item {
        display: none;
    }

    nav.navigation > a, nav.navigation {
        display: table;
        width: 52px;
    }

    .left-col {
        margin: 2px;
    }

    .input-group .form-control {
        margin-left: 90px;
    }

    .tags-wrapper {
        display: none;
    }

    .col-lg-12 {
        padding: 0 15px;
    }
    .ctrl-wr-asset {
        position: relative;
        width: 27%;
        float: left;
        margin:1% 3%;
        background: #fbfbfb;
        transition: all 0.5s ease;
        border: 1px solid #F1EBEB;
        margin-bottom: 15px;
    }
    .itm-ast{width: 100% !important;    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    nav.navigation > a, nav.navigation {
        width: 45px;
    }

    .category {
        width: 75%
    }

    .icon {
        display: block;
    }

    .left-menu-item {
        display: none;
    }

    nav.navigation > a, nav.navigation {
        display: table;
        width: 52px;
    }

    .left-col {
        margin: 2px;
    }

    .tags-wrapper {
        display: none;
    }

    .row {
        clear: both;
    }

    h3.ast-name {
        font-size: 1em;
        margin-top: 0;
    }

    .more-list {
        margin-top: -34px !important;
    }

    .ctrl-wr-asset {
        width: 100%;
        height: auto;
        margin-left: 15px;
    }

    .wr-content {  padding: 0; }
    .ast-img{width: 50% !important; float: left;}
    .ast-title{width: 50% !important; float: left;}
    .itm-ast{width: auto !important;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .left-col-asset {
        margin: 7px;
    }

    h3.ast-name {
        font-size: 14px;
        margin-top: 0px;
    }

    .col-lg-12 {
        padding: 0px;
    }

    .more-list {
        margin-right: -20px !important;
    }
}
