<div>
	<div>
		<form>
			{{> primary-search-attributes .}}
			{{> extended-search-attributes .}}
			{{> advanced-search-buttons .}}
		</form>
	</div>
</div>
<hr/>
<div>
	{{> advanced-search-results .}}
</div>