<div class="form-group">
	<label for="name">Name</label>
	<input type="text" class="form-control" id="name"  name="name" placeholder="Enter an asset name">
</div>
<div>
	<label for="mediaType">Media Type</label>
	<input type="text" class="form-control" id="mediaType" name="mediaType" placeholder="Media Type">
</div>