<h2 class="field-title">
    <a class="collapsing-h2" aria-expanded="false" href="#collapse{{type}}" data-toggle="collapse">
        <i class="cu-btn-exp-col btn-collapsed">{{type}}</i>
    </a>
</h2>
<div id="collapse{{type}}" class="collapse in responsive-form-container">
    {{>list_assets_table_body assets}}
    <div class="clearfix"></div>
</div>