{{#if groupingFeature.isEnabled}}
    {{#if assets.hasMultipleVersions}}
    <span>Versions: </span>
    <div class="dropdown version-list-dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        {{assets.version}}
        {{#if assets.isDefault}}
            - <span class="text-muted">default</span>
        {{/if}}&nbsp;&nbsp;
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {{#each assets.versions}}
            <li role="presentation"><a role="menuitem" tabindex="-1" href='{{url ""}}{{assetURL}}' {{#if selected}}class="active-version"{{/if}}>{{version}}{{#if isDefault}} - <span class="text-muted">default</span> {{/if}}</a></li>
        {{/each}}
    </ul>
    </div>

    <div class="default-version-section">

    </div>
    {{/if}}
{{/if}}