{{#if hasMultipleVersions}}
<div class="form-group wr-version-selection">
    <a href="#" class="ico-filter ctrl-filter-category dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Select a version <span class="fa fa-angle-down pull-right"></span></a>
    <ul class="dropdown-menu version-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {{#each versions}}
        <li><a tabindex="-1" href='{{url ""}}{{assetURL}}'>{{version}}</a></li>
        {{/each}}
    </ul>
</div>
{{/if}}
<div>
    {{#if isDefault}}
    This is the default version
    {{else}}
    This not the default version
    {{/if}}
</div>