{{#if groupingFeature.isEnabled}}
{{#if assets.hasMultipleVersions}}
<label>Other versions: </label>
{{#each assets.versions}}
    <a href='{{url ""}}{{assetURL}}'>v{{version}}</a>
{{/each}}
<div>
    {{#if assets.isDefault}}
    <span class="label label-info">default version</span>
    {{else}}
    <span class="label label-default">sub version</span>
    {{/if}}
</div>
{{/if}}
{{/if}}