<h4>{{label}}</h4>


<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0">
&nbsp;
</div>

<div style="border:0px solid #ff0000; padding:0" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	<table class='tablex cu-data-table'>
		<thead>
			{{#each subheading}}
				<th>{{heading}}</th>
			{{/each}}
		</thead>
		<tbody>
			{{renderEditableUnboundTable .}}
		</tbody>
	</table>
</div>