
<a data-toggle="collapse" href="#collapse{{name}}" aria-expanded="false" class="collapsing-h2" >
	<h2>
		<i class="cu-btn-exp-col btn-collapsed">{{label}}</i>
	</h2>
</a>

<div class="collapse in responsive-form-container" id="collapse{{name}}">
{{#eachField this.fields}}
    <div class="form-group">
        {{renderEditableField . mode=../mode}}
    </div>
{{/eachField}}
</div>