
<a data-toggle="collapse" href="#collapse{{label}}" aria-expanded="false" class="collapsing-h2" >
<h2>
<span class="fa-stack fa-lg collapse-stack-icons">
                <i class="fa fa-caret-right fa-stack-1x"></i>
                <i class="fa fa-circle-thin fa-stack-2x"></i>
            </span>
{{label}}
</h2>
</a>

<div class="collapse in responsive-form-container" id="collapse{{label}}">
{{#eachField this.fields}}
    <div class="form-group">
        {{renderEditableField .}}
    </div>
{{/eachField}}
</div>
