<footer class="footer">
    <p>Powered by WSO2 Enterprise Store {{header.[0].context.meta.applicationVersion}} | &copy;<a href="http://wso2.com/" target="_blank"> 2016 <i class="fw" id="logo-wso2"></i> Inc.</a></p>
</footer>