<div class="lifecycle-selection-area">
    {{#if assets.hasMultipleLifecycles}}
        <div class="row">
            <div class="col-lg-2">
                <h4><i class="fw fw-settings lifecycles-mgt-icon"></i> Switch Lifecycles</h4>
            </div>
            <div id='current-selected-lifecycle-div col-lg-10' class="form-group wr-lifecycle-selection">

                <select id='lifecycle-selector' class='form-control'>
                    <option>{{assets.lifecycle}}</option>
                    {{#each assets.availableLifecycles}}
                        {{#unless active}}
                            <option>{{name}}</option>
                        {{/unless}}
                    {{/each}}
                </select>
            </div>
        </div>
    {{/if}}
    <hr/>
</div>
