{{#if checklist}}
<h3>Check lists</h3>
<div class="checkitem-auto-save-message">The check items will be automatically saved</div>
{{#each checklist}}
	<div class="checkbox"><label> <input type="checkbox" data-index="{{index}}" {{#if checked}} checked {{else}} {{/if}} {{#if isVisible}} {{else}} disabled {{/if}}> {{name}}</label></div>
{{/each}}

{{/if}}