<div class='row'>

<div id='lifecycle-rendering-area' class='lifecycle-rendering-area col-md-8'>
	<svg width=500 height=600></svg>
</div>
<div id='lifecycle-checklistitems' class='col-md-1'>
<h3>Check lists</h3>
<img src='{{url ""}}/themes/default/img/preloader-40x40.gif' />Loading check list items
</div>
<div id='lifecycle-actions' class='col-md-1'>
Lifecycle actions
</div>
<div id='lifecycle-history' class='col-md-1'>
<h3>History</h3>
<img src='{{url ""}}/themes/default/img/preloader-40x40.gif' /> Loading history details ...
</div>
</div>