<div class="row">
    <div id='lifecycle-information' class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{> lifecycle-information}}
    </div>
    <div id='lifecycle-global-notifications' class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{> lifecycle-selection-area}}
    </div>
    {{> lifecycle-rendering-view}}
</div>