<div>
	<label>Available lifecycles </label>
	<select id='lifecycle-selector' class='form-control input-small'>
		<option>SampleLifeCycle2</option>
		<option>MobileAppLifeCycle</option>
		<option>ServiceLifeCycle</option>
	</select>
</div>