<div>
    <div id='lifecycle-information'>
        {{> lifecycle-information}}
    </div>
    <div id='lifecycle-global-notifications'>
    </div>
</div>
<div>
    {{> lifecycle-selection-area}}
</div>
<div>
    {{> lifecycle-rendering-view}}
</div>