<div>
{{#if assets.hasMultipleLifecycles}}
    <label class="float-left"><h3>Available lifecycles </h3></label>
<div>
	<div class="form-group wr-lifecycle-selection">
    <a href="#" class="ico-filter ctrl-filter-category dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Other lifecycles
    <span class="fa fa-angle-down pull-right"></span></a>
    <ul id='lifecycle-selection' class="dropdown-menu lifecycle-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    	{{#each assets.availableLifecycles}}
        <li><a tabindex="-1" href="#">{{name}}</a></li>
        {{/each}}
    </ul>
</div>
</div>
{{/if}}

</div>
{{!--
<option>SampleLifeCycle2</option>
<option>MobileAppLifeCycle</option>
<option>ServiceLifeCycle</option>
--}}