<div class="lifecycle-selection-area">
    {{#if assets.hasMultipleLifecycles}}
        <h4><i class="fw fw-settings lifecycles-mgt-icon"></i> Switch Lifecycles</h4><hr/>

        <div>
            <span class='help-block'> Select a lifecycle </span>
            <div id='current-selected-lifecycle-div' class="form-group wr-lifecycle-selection">

                <select id='lifecycle-selector' class='form-control'>
                    {{#each assets.availableLifecycles}}
                        <option>{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    {{/if}}
</div>
