<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Statistics</h1>
        <h2 class="field-title">
            <a data-toggle="collapse" href="#collapseRatedAssets" aria-expanded="false" class="collapsing-h2" >
                <i class="cu-btn-exp-col btn-collapsed">{{t "My Popular Assets"}}</i>
            </a>
        </h2>
        <div class="collapse in margin-top-lg" id="collapseRatedAssets">
            <div id="placeholder1" class="graph-placeholder"></div>
        </div>

        <h2 class="field-title">
            <a data-toggle="collapse" href="#collapseHotAssets" aria-expanded="false" class="collapsing-h2 margin-top-lg" >
                <i class="cu-btn-exp-col btn-collapsed">{{t "Hot Assets"}}</i>
            </a>
        </h2>

        <div class="collapse in margin-top-lg" id="collapseHotAssets">
            <!--div class="date-range-wrapper">
                <div id="date-range">
                    <div id="date-range-field">
                        <span></span>
                        <a href="#">&#9660;</a>
                    </div>
                    <div id="datepicker-calendar" ></div>
                </div>
            </div-->
            <div class="clearfix"></div>
            <div id="placeholder2" class="graph-placeholder"></div
        </div>
    </div>
</div>


