<div id='tag-ui'>
    <div class="form-group">
        <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right">Tags : </label>
        <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
            <select class='tag-ui-selectbox form-control' multiple name='_tags' style="width:100%;">
                {{#each assetTags}}
                <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>
