<input type="hidden" value="" name="_taxa" id="taxonomy-list">

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="selected-taxonomy-container">
            <div>
                <label>Applied Taxonomies: </label>
            </div>
            <div class="selected-taxonomy-content">
                <!-- Dynamic content -->
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button id="taxonomy-select-button" class="btn btn-default" type="button">Select Taxonomy</button>
        <button id="cancel-button" class="btn btn-danger" type="button">Cancel</button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 taxonomy-browser" edit-mode="false">
        <div class="ast-container" id="list_assets_table_body">
            <div class="taxonomy-breadcrumb">
                <ol>
                    <!-- Dynamic Content -->
                </ol>
            </div>
            <div class="row taxonomy-select">
                <!-- Dynamic content -->
            </div>
        </div>
    </div>
</div>