{{#with assets}}
<div class="well asset-well">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                {{>asset-thumbnail .}}
            </div>
            <div class="col-lg-10">
                <h1 class="asset-name">{{name}}</h1>
                <i class="fa fa-circle"></i> {{lifecycleState}}
                <div class="well-description padding-bottom-lg">{{tables.0.fields.createdtime.value}}</div>
            </div>
        </div>
    </div>
</div>
{{/with}}
{{> update_form .}}