<div class="col-xs-7 col-sm-7 col-lg-8 app-logo">
    <a href="{{tenantedUrl ""}}{{meta.landingPage}}">
    	<img src="{{url "/themes/store/img/logo.png"}}" />
       		<h2 class="app-title">{{meta.applicationTitle}}</h2>
    </a>
 </div>
