<ul class="auth-links">
<li>
    <a href="{{url "/login"}}">
    <i class="fw fw-key fw-1-5x"></i>
    <span class="ro-text padding-left">{{t " Sign in"}}</span>
    </a>
</li>
<li>
    <a href="{{url "/login"}}" id="btn-register" >
    <i class="fw fw-register fw-1-5x"></i>
    <span class="ro-text  padding-left">{{t " Register"}}</span></a>
</li></ul>