<li>
    <a href="#" data-toggle="modal" data-target="#modal-login" class="login"><span class="ro-text">{{t "Sign in"}}</span></a>
</li>
<li>
    <a id="btn-register" class="register" data-toggle="modal"
    data-target="#modal-register"><span class="ro-text">{{t "Register"}}</span></a>
</li>