<div class="ast-img setbgcolor" style="background: {{this.uniqueColor}}">
    <span class="ast-type-icon">
      <i class="{{assets.icon}} fw-lg"></i>
      </span>
    <div class="{{assets.icon}}">{{this.nameToChar}}</div>
</div>