<i class="fa fa-star"></i>
<span class="main-bookmark" data-processing=" Removing..." data-success="Successfully un-subscribed to asset" data-error="Failed to un-bookmark this asset!">
{{t "Bookmarked"}}
<span class="sub-bookmark"></span>
</span>