<a href="{{tenantedUrl ""}}{{meta.landingPage}}">
    <img src="{{url "/themes/store/img/logo.png"}}" />
    <h2 class="app-title hidden-xs-320">Enterprise Store</h2>
    <h2 class="app-title visible-xs-320">ES</h2>
</a>
