<div class='tabbable'>
    <div id='social-buttons'>
        <h4>{{t "Social Sites"}}</h4>
        {{> social-buttons .}}
    </div>
    <div id='embed'>
        <h4>{{t "Embed"}}</h4>
        {{> embed-snippet .}}
    </div>
</div>