<li>
    <a href="{{url "/login"}}">
    <i class="fw fw-padlock fw-1-5x"></i>
    <span class="ro-text padding-left">{{t " Sign in"}}</span>
    </a>
</li>
<li>
    <a href="{{url "/../sso/register_new_user"}}" id="btn-register" >
    <i class="fw fw-sign-up fw-1-5x"></i>
    <span class="ro-text  padding-left">{{t " Register"}}</span></a>
</li>