<li>
    <a href="{{url "/login"}}" class="login"><span class="ro-text">{{t "Sign in"}}</span></a>
</li>
<li>
    <a href="{{url "/login"}}" id="btn-register"
    class="register"><span class="ro-text">{{t "Register"}}</span></a>
</li>