<li>
    <a href="{{url "/login"}}">
        <span class="fw-stack fw-lg  fw-inverse">
            <i class="fw fw-ring fw-stack-2x"></i>
            <i class="fw fw-key fw-stack-1x"></i>
        </span>
 <span class="ro-text">{{t "Sign in"}}</span></a>
</li>
<li>
    <a href="{{url "/login"}}" id="btn-register" >
        <span class="fw-stack fw-lg  fw-inverse">
            <i class="fw fw-ring fw-stack-2x"></i>
            <i class="fw fw-register fw-stack-1x"></i>
        </span>
        <span class="ro-text">{{t "Register"}}</span></a>

</li>