<div id="{{name}}" class="responsive-form-container {{#if renderingMetaData.emptyTable}} collapse {{else}} collapse in {{/if}}" aria-expanded="true" style="">
    {{#if subheading}}
    <table class='table table-bordered'>
        <thead class="decorated-table-heading">
            {{#each subheading}}
                <th>{{heading}}</th>
            {{/each}}
        </thead>
        <tbody>
        {{renderUnboundTablePreview .}}
        </tbody>
    </table>
    {{/if}}

</div>